/*
 * Empty Stylesheet file.
 */

.vacBox #pressure{
    -fx-font-size: 24;
    -fx-font-weight: bold
}

.vacBox #units{
    -fx-font-size: 24;
}    

.vacBox #name{
    -fx-font-size: 18;
}     

.beveled{
    -fx-border-color: white #676767 #676767 white;
    -fx-border-style: solid outside line-join bevel;
}