/*
 * Empty Stylesheet file.
 */

.vacBox {
    -fx-border-color: blue;
}

.vacBox #pressure{
    -fx-font-size: 24;
    -fx-font-weight: bold
}

.vacBox #units{
    -fx-font-size: 24;
}    

.vacBox #name{
    -fx-font-size: 18;
    -fx-font-weight: bold
}

.vacBox .namePane{
    -fx-background-color: lavender
}

.beveled{
    -fx-border-color: white #676767 #676767 white;
    -fx-border-style: solid outside line-join bevel;
}